body {
    background-color: orange;
    margin: 2pxpx;
    h1,p{

        background-color: lightblue;
        border: 2px solid black;
    }
    .para3{
        background-color: yellow;
        padding: 20px;
        margin-left:20px ;
        margin-top: 25px;
    
    
    }

    }


   
    

    
    